<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>home page</title>
<link rel="stylesheet" href="resources/css/home.css" type="text/css" />
<script type="text/javascript" src="resources/js/angular.min.js"></script>
<script type="text/javascript" src="resources/js/jquery-2.1.4.min.js"></script>
</head>

<body>
	<div class="homeContainer" ng-app="homeApp">
    	<div class="filters" ng-controller="homeCtrl">
        	<div class="logo">Housing Next</div>
        	<input type="text" placeholder="Location" class="txtPlace" id="location" />
            <input type="text" placeholder="Budget" class="txtPlace" id="cost" />
            <input type="text" placeholder="BHK" class="txtPlace" id="bhk" />
            <input type="button" value="Search" class="btnSearch" ng-click="btnSearchClick()" />
        </div>
    </div>

    
	<script>
    var homeApp = angular.module('homeApp',[]);
        homeApp.controller('homeCtrl', function($scope, $http) {
            $scope.btnSearchClick = function(){
				var city = $("#location").val();
				var apart = $("#bhk").val();
				var cost = $("#cost").val();
				window.localStorage.cityname = city;
				window.localStorage.apart = apart;
				window.localStorage.cost = cost;
				window.location.href = 'loadHousingData.html' ;
            }
    });
    </script>

</body>
</html>
	